.inputField {
  padding: 0.3rem 0.5rem;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 0 0.25rem;
}
.inputField:focus::placeholder,
.inputField:hover::placeholder {
  font-weight: bold;
  color: black;
}
