.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem;
  border: 2px solid black;
  border-radius: 3px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0.2rem;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navbar ul li a {
  text-decoration: none;
  color: inherit;
}
.navbar ul li:hover {
  font-weight: bold;
  transform: scale(1.1);
  border-radius: 5px;
  padding: 0.5rem;
}

.logoutButton {
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: tomato;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
}

.loginButton {
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: #0f9d58;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
}
